#homecontainer{
    background-image: url(https://cdn.dnaindia.com/sites/default/files/2023/03/26/2581433-ipl-rcb-squad.jpg?im=FitAndFill);
    background-size: cover;
    height: 100vh;
    width: 100vh;
}